header {
  height: 150px;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.map-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 300px [usmap-start] 1fr [usmap-end] 300px;
  grid-template-rows:  [usmap-start] 250px 150px [usmap-end]
}

.rsm-geography.Hawaii {
  transform: rotate(-35deg);
}

svg.rsm-svg.us-map {
  /* height: 550px; */
  /* width: 900px; */
  height: 425px;
  width: 625px;
  grid-area: usmap;
}

.nemap{
  height: 350px;
  width: 240px;
}

.breweries-card-container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
}

.card, .grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border: 2px solid black;
}